.layout-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.filter-box{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(228, 68, 52);
    border-radius: 5px;
}

.title-filter-box {
    display: flex;
    justify-content: space-between;
}

.title-filter-box h1 {
    font-size: 18px;
    font-weight: bold;
}

.btn-filter {
    width: 65px;
    background-color: rgb(255, 255, 255);
    color: rgb(228, 68, 52);
    padding: 5px 10px;
    border: 1px solid rgb(228, 68, 52);
    border-radius: 5px;
    cursor: pointer;
}

.btn-filter:hover {
    background-color: rgb(228, 68, 52);
    color: white;
    cursor: pointer;
}

.filter-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.filter-field {
    flex: 1;
}

.filter-field label {
    margin-right: 5px;
}

.filter-field input, select {
    width: 100%;
    height: 30px!important;
    height: auto;
    border: 1px solid rgb(228, 68, 52)!important;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    box-shadow: none;
    --tw-ring-color: transparent;
    --tw-ring-offset-width: 0;
    --tw-ring-width: 0;
}

.filter-field input:focus, select:focus {
    padding: 5px;
    border-radius: 5px;
    outline: none;  
    box-shadow: 0 0 3px rgb(228, 68, 52);
    --tw-ring-color: transparent;
    --tw-ring-offset-width: 0;
    --tw-ring-width: 0;
}

.title-list-box {
    display: flex;
    justify-content: space-between;
}

.title-list-box h1 {
    font-size: 18px;
    font-weight: bold;
}

.list-box{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(228, 68, 52);
    border-radius: 5px;
}

.summary {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: rgb(228, 68, 52); 
    color: rgb(255, 255, 255); 
    padding: 10px;
    text-align: left;
    border-right: 1px solid #ccc;
}

th:last-child {
    border-right: none;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.tbl-content tr:nth-child(even) {
    background-color: rgba(228, 68, 52, 0.1);
}

.tbl-content tr:hover {
    background-color: rgba(228, 68, 52, 0.2);
}

.btn-view {
    background-color: rgb(228,68,52);
    color: rgb(255, 255, 255);
    padding: 0.25rem;
    border: 1px solid rgb(228, 68, 52);
    border-radius: 5px;
    cursor: pointer;
}

.btn-view:hover {
    background-color: rgb(197, 79, 67);
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid rgb(228, 68, 52);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}